<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Forgot Your Password?</h1>
</div>
<div *ngIf="!submitted">
    <p class="mb-4">Enter your email address and we'll send you a link to reset your password.</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': f['email'].errors && f['email'].touched }" placeholder="Email Address" />
            <div *ngIf="f['email'].errors && f['email'].touched" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
            </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary btn-user btn-block">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Reset Password
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </form>
</div>
<div *ngIf="submitted" class="text-center mt-3">
    <p>Please check your email for password reset instructions.</p>
    <a routerLink="/account/login">Back to Login</a>
</div>
