<div class="text-center">
    <h1 class="h4 text-gray-900 mb-2">Reset Password</h1>
</div>
<div *ngIf="tokenStatus === TokenStatus.Validating">
    <div class="text-center">Validating token...</div>
</div>
<div *ngIf="tokenStatus === TokenStatus.Invalid">
    <div class="alert alert-danger">
        Token validation failed, please request a new <a routerLink="/account/forgot-password">forgot password</a> link.
    </div>
</div>
<div *ngIf="tokenStatus === TokenStatus.Valid">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" placeholder="New Password" />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
                <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" placeholder="Confirm Password" />
            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
                <div *ngIf="f['confirmPassword'].errors['mustMatch']">Passwords must match</div>
            </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary btn-user btn-block">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Reset Password
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </form>
</div>